SPECIFIC REQUIREMENTS


EXTERNAL INTERFACE REQUIREMENTS
1. USER INTERFACES
2. API INTERFACES
3. HARDWARE INTERFACES
4. SOFTWARE INTERFACES
5. COMMUNICATION INTERFACES
6. MEMORY


FUNCTIONAL REQUIREMENTS
* G1: Allow a registered user to find available cars and to reserve one of them
1. The system shall allow registered users to find available cars only if their GPS position is inside the city area
2. When a registered user requests to find the available cars, he/she can find the available cars starting from his/her GPS position or by specifying an address inside the city
3. The system shall not allow a registered user to make a car reservation if he/she has a car reservation not terminated yet
4. The system shall allow only registered users to make a reservation
5. The system shall allow only guest users to register to the system
6. The system shall not allow the registration of a guest user if the email provided has already been used by a registered user
7. The system shall allow registered users to login only if the provided credentials are correct
8. The system shall send a unique PIN to the registered user after the  completion of the registration procedure
* G2: Allow registered users to use the reserved cars
1. The system shall guarantee that a registered user which has reserved a car can unlock it
2. The system shall guarantee that, when a user leaves the car in a safe area and exits it, the car is locked automatically and set as available
3. The system shall guarantee the unlock of a reserved car only if the user requesting the unlock is the one who made the last reservation for that car
4. The system shall guarantee the unlock of a reserved car….
* G3:  Guarantee a uniform distribution of the cars in the city
1. The system shall encourage users to share the car by applying a discount of 10% on the last ride to registered users which have picked up at least two other passengers during the ride
2. The system shall detect the presence of passengers in the reserved and unlocked car
3. The system shall implement a money saving option in which the users inserts his destination and the system shows the safe areas where to leave the car in order to get a discount


* G.4 : Encourage registered users to use properly the reserved cars
1. The system evaluates the cost of the user’s last ride using a rate based on a specific amount of EUR per minute
2. The system shall apply a discount of 20% on the last ride to registered users leaving after the ride more than 50% of the battery in the reserved car
3. The system shall apply a discount of 30% on the last ride to registered users who leave the reserved car in a power station and plug it
4. The system shall charge 30% more on the last ride to registered users who leave the car more than 3 km from the nearest power grid station or with more than 80% of the battery empty
5. The system shall apply a fee of 1 EUR to a registered user who doesn’t pick up the car he/she reserved within 1 hour from the reservation
6. The system shall tag a car as available if it is not picked up within 1 hour from its last reservation


SCENARIOS
These scenarios are a description of imagined sequences of events that include the interaction of the S2B with its environment and users, as well as the interaction among its components.


SCENARIO 1: registrazione che fallisce
Alonso doesn’t like the public transportation, he thinks that those vehicles are too slow to move in the city. A friend told him that a new car-sharing service called PowerEnjoy is available in the town, so Alonso decides to go download the PowerEnjoy app and register.
During the registration procedure, Alonso inserts correctly his personal data and a valid credit card that the system can later use to charge money in case the car-sharing service will be used by Alonso. Alonso decides to start using PowerEnjoy the day after the registration.


SCENARIO 2:
Alicia lives in the suburbs of the city and has just known from a close friend that her favourite dress shop Dressando in the center of the city offers special discounts for that day only. Unfortunately, it’s raining and the car used by her family is in that moment used by her mother at work, so she decides that it’s the time to try the PowerEnjoy service instead of walking, to exploit the Dressando special discount. Alicia has registered to PowerEnjoy two days ago. Alicia opens the PowerEnjoy app on her smartphone. She touches the button “Find ava successfully logs to the service and locates an available car near her house. She goes out and when she is near the car, she selects the car in the map and presses the button “Reserve”. A new activity opens and Alicia fills the form and then presses the button “Unlock your car”. The system unlocks the car and Alicia starts driving to the Dressando shop.


SCENARIO: group trip
Aldo, Giovanni and Giacomo will have a very demanding day on the 26 of October. They are vegetarians and to pass some time together they booked long time before at “Gnam Veggy”, the best veggie burger restaurant of the city, for the 17:00 of the 26 of October. 
On the 26 of October, unfortunately, a strike of the metro transportation and of the surface trams has been planned, but the three friends don’t know about this.
At 16:20 of the 26 of October, Aldo discovers about the strike and since he knows that a strike should not be underestimated, he proposes to his friends to use PowerEnjoy and reserve a car. He also knows that if he’ll drive and at least two other passengers are going with him, they’ll receive a discount of 10% on their ride. The discount is enough to make Giovanni and Giacomo to agree. Aldo opens his laptop, goes to the PowerEnjoy website and logs in. He lives in “Via Garibaldi 23”, so he inputs his location in the box near the map of the city and identifies an available car in the neighborhood. He selects the car and reserves it
starting from 16:40. At 16:40, the three friends are near the reserved car, Aldo unlocks the vehicle and they go in. The next day Aldo controls the account of his credit card and notices that the ride was correctly discounted by 10%.


Scenario 3: car left  with no more than 50% of the battery empty
Bill, that is already registered to PowerEnJoy, needs to cover a short distance by car. He logs to the PowerEnJoy application on his smartphone and selects the “find available cars” button; he then reserves the available car that is closest to him for up to one hour after his reservation.
Within one hour from the reservation time, the user goes on the chosen location and through the application on his smartphone informs the system that he is nearby by clicking on the dedicated button. The car unlocks itself and he enters. He immediately inserts his password in order to enable the engine, he turns on the engine and the system starts charging him for a given amount of money.
After covering a short distance, Bill finds a safe area for parking and exits the car. The system automatically locks the car. After a short time, the user receives a notification from the PowerEnJoy application, where he is informed that he received a 20% discount on his last ride, because he left his car with less than 50% of the battery empty.


Scenario 4: user with unvirtuous behavior
Mike has to go to a concert in Milan and decides to use PowerEnJoy to reach his destination; he is registered to the system. About an hour before the time he wants to leave, he logs to PowerEnJoy and reserves a car that is close to where he lives. He doesn’t use the money saving option, as he doesn’t like to travel by feet, so he always parks the car as close to his destination as possible.
When the time comes, he reaches the location and he clicks on the “unlock your car” button and enters the car. Mike doesn’t like to travel with other passengers, so he doesn’t pick up anyone onto the car during his ride.
The concert holds far away from where Mike lives, so when he reaches the destination the car has more than 80% of the battery empty. There are no special parking areas with power grid stations nearby, so he leaves the electric car in the safe area that is closest to the concert. He exits the car and receives a notification telling him that he is charged 30% more than the specified price on his ride, because he left the car with more than 80% of the battery empty and he did not get any discount because he did not try to act in a virtuous way.


Scenario 5: missed reservation
John is a regular employee in a business company in Milan and after a long day of work he
is finally close to going back home. While checking the last reports, his friend Paul reminds
him about the national strike of the public transport occurring that day: John, who has 
already tried the PowerEnjoy services a couple of times, decides to log in the site, locates
an available car near his office address, and reserves it. Fifteen minutes later, John's colleague Mary offers him a ride back home: John, who has always had a crush on Mary, cannot refuse and accepts enthusiastically. On the way back home with Mary, John suddenly remembers of his missed reservation: he checks his profile in the PowerEnjoy app and sees that he has paid a little fee of 1 euro. 
A trivial cost for being able to talk with Mary on the way home.


Scenario 6: saving money option
Lorenzo is a student of Politecnico of Milan but, unfortunately, he has having quite 
a struggle in succeeding in the exams. Since his parents are becoming tired of economically
supporting him, Lorenzo is trying to sparing some of his monthly budget.
After finding out about the money saving option offered by PowerEnjoy, Lorenzo, a loyal 
customer of the company for the last two years, decides to give it a try.
Lorenzo starts up the PowerEnjoy app and logs into the system, finds an available car 
from his current position and enables the money saving option: he enters the address of
his destination, that is the home of his physics tutor, and reserves the car. The system tells 
Lorenzo via app the designed safe park area, conviniently close to his destination.
When Lorenzo reches the reserved car, he is able to unlock it using the PowerEnjoy app:
after reaching his destination, Lorenzo is notified via app about the charged price and the applied discount. Lorenzo can now travel through the city without the worry of spending too much money, thus focusing more on his studies.


Scenario 7: plugging the car
Thomas loves going to the cinema. Tonight, Thomas wants to watch an interesting action movie that he heard of from a friend: as a registered user of PowerEnjoy he logs into the site, he looks for a car near his home address, and reserves it for the following hour: 
when the time comes, Thomas picks up the car by telling his position
via the PowerEnjoy app and unlocks the car. After his journey, Thomas parks the car in one of the special area of the city. Thomas remembers that he has not chosen the saving money option and notices that the car has 40% of battery left, so he decides to plug the car into the power grid. While entering the cinema, Thomas gets a notification from the PowerEnjoy app: he obtained a 30% discount on the last ride. Happy for his reward, now Thomas can now enjoy better the movie.














UML MODELS


USE CASES 
-GuestUserRegistration
-RegisteredUserLogsIn
-RegisteredUserFindsAvailableCars
-RegisteredUserReservesCar
-CarUnlocking
-discount application for picking up at least two other passengers
-MoneySavingOption
-receive a notification of discounts or additional charges
-update personal information


Use case: GuestUserRegistration
Actors: Guest User, BillingService
Entry Condition:  none
Flow of events: 
* The Guest User opens the main activity of the PowerEnjoy mobile application
* The Guest User touches the “Register” button to start the registration process
* The S2B replies by sending the registration form to the guest user
* The Guest User fills the form with all his credentials, personal data and payment informations and touches the “Confirm” button. All the data are sent to the S2B.
* The S2B verifies the Guest User credentials and personal data
* The S2B has verified the correctness of user credentials and asks payment validation to the BillingService
* The BillingService answers to the S2B that the payment informations are valid.
* The S2B confirms the registration by sending a confirmation message to the Guest User
Exit conditions:  
* The Guest User is now a Registered User 
* The S2B sends an email with the unique PIN generated for the new Registered User
* The S2B adds an entry in the user’s database for the new Registered User
Exceptions:
* The Guest User has provided an email already used by another Registered User : the S2B notifies the Guest User to use another email 


Use case : RegisteredUserLogsIn
Actors: RegisteredUser
Preconditions: none
Flow of events: 
* The Registered User opens the main activity of the PowerEnjoy mobile application
* The Registered User inserts its email and password and touches the button “Login”. When the button “Login” is pressed, the informations inserted and the GPS coordinates of the Registered User are sent to the S2B
* The S2B verifies the correctness of the email and password
* The S2B has verified that the credentials are correct and sends a confirmation message to the RegisteredUser
Exit conditions: 
The Registered User is logged into the PowerEnJoy system and he can now find available cars, reserve a car or tell the S2B he/she is nearby the car he has reserved
Exceptions: 
* The email and/or password of the Registered User are wrong, the S2B sends a message to the RegisteredUser to try again
* The email provided by the Registered User doesn’t belong to any registered user. The S2B notifies the User that he needs to make a registration


Use case: RegisteredUserFindsAvailableCars
Actors: RegisteredUser, Car
Precondition: “RegisteredUserLogsIn” use case
Flow of events: 
* Post conditions:
Exceptions:


Use case: CarUnlocking
Actors: Registered User, CarGPSsignal, UserGPSsignal
Preconditions: “CarReservation” use case
Flow of events: 1. The Registered User opens the PowerEnJoy mobile application
2. The Registered User selects the “unlock your car” button
3. The system requests the Registered User’s gps signal  to UserGPSsignal
4. The system requests the reserved car’s gps signal to CarGPSsignal
3. The system verifies that the Registered User’s gps signal is at most at 5 m from the reserved car’s gps signal
5. The verification is successful and the car unlocks automatically
Postconditions:  the car is now unlocked and the Registered User may enter
Exceptions:The control of the distance between the car and the Registered User fails; the failure is communicated via notification on the PowerEnJoy app and he can try again


Use case: EngineUnlocking
Actors: RegisteredUser
Preconditions: “CarUnlocking” use case
Flow of events: 1. The Registered User enters the car he unlocked
2. The Registered User types his personal PIN code on the car screen
3. The system verifies the correct correspondence between the PIN code inserted and the user that reserved the car
4. The verification is successful and the engine is automatically unlocked
Postconditions: the engine is now unlocked and the Registered User can turn it on
Exceptions: a. The PIN code inserted by the user is incorrect[a]


Use case: discount application for picking up at least two other passengers
Actors: RegisteredUser, carPassengerSensor
Preconditions: “EngineUnlocking” use case
Flow of events: 1. The Registered User turns the engine on
2. During the ride, the carPassengerSensor provides info to the system about how many passengers are in the car
3. “end of the ride” use case
4. The system calculates the Registered User’s bill based on the total minutes of the ride
5. The system verifies that in any moment of the ride at least two other passengers where present on the car
6. The system applies a discount of 10% on the previously calculated bill
Postconditions: The system evaluates the presence of other possibile discounts on the ride, “PayLastRide” use case
Exceptions: The system establishes that during the last ride there have never been two other passengers on the car and the discount is not applied.


Use case: MoneySavingOption
Actors: user
Preconditions: the user has already unlocked the engine with his PIN
Flow of events: 1. The user selects the money saving options by pressing a button on the screen in the car
2. The user inserts his destination address in the form that appears on the screen
3. The system locates and shows on the car screen the destination on the map and finds all the power grid stations that are in a radius of 2 km from the destination[b] and have at least a plug available
4. The user starts his ride by turning on the engine[c]
Postconditions: the user can leave his car in one of the stations located by the system in order to get a discount at the end of the ride
Exceptions: a. There are no power grid stations in a radius of 2 km from the destination and with at least one plug available;this information is shown on the car screen
b. The destination address inserted in not valid; the system shows a message on the car screen that says to insert a valid address or cancel the money saving option request


G4, UC.1.1
Use case: PayLastRide
Actors: Payment service
Goal: [G4]
Preconditions: After the login (G1, UC?) the registered user has localized and reserved a car (G1, UC?). The user has unlocked the car (G2, UC?). The user has driven the reserved car and parked it in a safe area. The user has exited the car. The system has handled the car’s lock (G2, UC?). 
Flow of events: 
1. The system evaluates the total minutes of the user’s last ride.
2. Based on the previous evaluated minutes, the system calculates the bill’s user.
PostConditions:        
The system evaluates if any discount or penalty can be applied: after registering the original amount of the bill, it proceedes to evaluate the first possible discount (G4, UC.2.1).
After evaluating all discounts and penalties, the systems applies them on the original bill. The system interacts with an external payment system and charges the user.
Exceptions:
The systems is notified that the payment was not succesfull. The system blocks the user.


G4, UC.2.1
UseCase: GetBatteryDiscount
Actor: Car’s battery sensor
Goal: [G4]
Preconditions:
The system has evaluated the bill of the user’s lat ride.
Event flow:
1. The system asks the battery sensor of the car about the remaining charge.
2. The car’s sensor provides the remaining battery percentage to the system.
Postconditions:        
The remaining battery is more than 50% and the system registers a 20% discount on the original calculated bill. The system evaluates a second possible discount (G4, UC.3.1)
Exceptions:
The remaining battery is less than 50% and no discount is applied. 








G4, UC.3.1
Use case: PlugCarAndGetDiscount
Actors: Registered User, car’s battery sensor
Goal: [G4]
Preconditions: The system has evaluated the remaining battery percentage in order to apply the related discount (G4, UC.2.1)
Event flow:
1. The user plugs the car into a power grid.
2. The system asks the car’s sensor if the car is recharging.
3. The car’s sensor tells the system that the car is recharging.
Postconditions:        
The system adds a 30% discount on any eventual previous discount (G4, UC.2.1) on the original calculated bill: The system proceeds to evaluate a possible penalty for the user (G4, UC.4.1)
Exceptions:
The user does not plug the car into a power grid, the battery is not recharging and the system doesn’t apply any discount.


G4, UC.4.1
UseCase: ParkFarFromGrid
Actors: Car’s battery sensor, car’s GPS
Goal: [G4]
Preconditions: The system has evaluated if the car was recharging in order to apply the related discount (G4, UC.3.1)
Event flow:
1. The system asks the car’s position to the car’s GPS.
2. The car’s GPS provides the coordinates.
3. The system evaluates that the car is more than 3 KM from the nearest power grid
4. The system charges 30% more on the last ride 
Postconditions:        
The system charges 30% more on the last ride, still considering eventual previous discount (G4, UC.2.1, UC.3.1) on the original bill.
Exceptions:
The system evaluates that car is less than 3 KM from the nearest power grid and no penalty is applied. The system checks for the battery status (G4, U.C.4.2).


G4, UC.4.2
Use case: LeaveLowBattery
Actors: Car’s battery sensor
Goal: [G4]
Preconditions: The system has evaluated that the car was no more than 3 KM far from a power grid (G4, UC.4.1)
Event flow:
1. The system asks the battery sensor of the car about the remaining charge.
2. The car’s sensor provides the remaining battery percentage to the system.
Postconditions:        
The remaining battery is less than 20% and the system registers a 30% charge on the last ride, that will be subtracted to any eventual previous discount (G4, UC.2.1, UC.3.1) on the original calculated bill. 
Exceptions:
The remaining battery is more than 20% and no extra charge on the last ride is applied.












NON FUNCTIONAL REQUIREMENTS










[a]cosa succede in questo caso?
[b]qualcosa del genere? su questo non saprei come fare, non può visualizzarle tutte, dobbiamo decidere un vincolo
[c]o può anche attivare dopo l'opzione?